<Configuration>
  <ArcitectureLabel>MIPS</ArcitectureLabel>
  <DataTypes units="Byte">
    <char>4</char>
    <int>4</int>
    <float>4</float>
    <double>8</double>
  </DataTypes>
  <Registers>
    <Argument>
      <Number>4</Number>
      <Prefix>a</Prefix>
    </Argument>
    <Return>
      <Number>2</Number>
      <Prefix>v</Prefix>
    </Return>
    <Temporary>
      <Number>10</Number>
      <Prefix>t</Prefix>
    </Temporary>
    <SavedTemporary>
      <Number>8</Number>
      <Prefix>s</Prefix>
    </SavedTemporary>
    <FTemp>
      <Number>32</Number>
      <Prefix>f</Prefix>
    </FTemp>
  </Registers>
</Configuration>
